{% extends "tango-layout.html" %}

{% block content %}
<html> 
<body>
    <div class="uk-flex uk-flex-center">
        <div class="uk-card uk-card-default uk-card-body">
            <div>
                <button type="button" class="uk-button uk-button-default" id="testButton">Test</button>
                <button type="button" class="uk-button uk-button-default" id="passButton">Pass</button>
                <button type="button" class="uk-button uk-button-default" id="failButton">Fail</button>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-left">
            <h3>Testing View: {{viewToTest}}</h3>
            <div id="tango-testing-view">
                <iframe id="tango-frame" src="http://{{ request.get_host }}/{{viewToTest}}" ></iframe>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}


