{% extends "tango-layout.html" %}
 
{% block content %}
<html> 
<head>
    
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/site.css' %}" />
</head>
 
<body>
    <div class="uk-flex uk-flex-center">
 
        <div class="uk-flex uk-flex-column">
            <div class="uk-backgrounduk-card uk-card-default uk-card-body uk-margin-top">
                <div>
                    <button type="button" class="uk-button uk-button-default uk-width-1-1 uk-button-large" id="test-case-button">Run Next Case</button>
                    <button type="button" class="uk-button uk-button-default uk-button-large" id="pass-button">Pass</button>
                    <button type="button" class="uk-button uk-button-default uk-button-large" id="fail-button" href="#case-fail-modal" uk-toggle>Fail</button>
                </div>   
            </div>
 
            <div class="uk-card uk-card-default uk-card-body uk-margin-top">
                <button type="button" class="uk-button uk-button-default uk-width-1-1 uk-button-large" id="generate-cases-button">Generate New Cases</button>
                <button type="button" class="uk-button uk-button-default uk-width-1-1 uk-button-large" id="generate-manual-case-button" href="#case-custom-modal" uk-toggle>Generate New Case Manually</button>
                <div id="current-case" style="padding-top: 15px;"></div>
                <div id="results-table" style="padding-top: 10px;"></div>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-margin-left uk-margin-top">
            <h3>Testing View: {{test_view_name}}</h3>
            <div id="tango-testing-view">
                <iframe id="tango-frame" src="http://{{ request.get_host }}/{{test_view_name}}" ></iframe>
            </div>
        </div>
    </div>
 
    <div id="case-fail-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <h3>Notes</h3>
                <textarea id="case-fail-notes"class="uk-textarea" rows="5" placeholder="Please enter the results of the test..."></textarea>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <h5>Importance: </h5>
                <label><input class="uk-radio" type="radio" name="importanceRating" value ="1" checked> 1</label>
                <label><input class="uk-radio" type="radio" name="importanceRating" value ="2"> 2</label>
                <label><input class="uk-radio" type="radio" name="importanceRating" value ="3"> 3</label>
                <label><input class="uk-radio" type="radio" name="importanceRating" value ="4"> 4</label>
                <label><input class="uk-radio" type="radio" name="importanceRating" value ="5"> 5</label>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button id="update-fail-button" class="uk-button uk-button-primary uk-modal-close" type="button">Save</button>
            </div>                       
        </div>
    </div>

    <div id="case-details-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div style="display: inline">
            </div>
            <div id="selected-case-details" style="padding-top: 10px;"></div>                    
            <div class="uk-modal-footer uk-text-right">
                <button style="float: left"class="uk-button uk-button-default uk-modal-close uk-button-danger" type="button" id="delete-case-button">Delete Case</button>
                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            </div> 
        </div>
    </div>

    <div id="case-custom-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div style="display: inline">
            </div>
            <div id="custom-case-details" style="padding-top: 10px;"></div>                    
            <div class="uk-modal-footer uk-text-right">
                <button style="float: left"class="uk-button uk-button-default uk-modal-close uk-button-primary" type="button" id="add-case-button">Add Case</button>
                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            </div> 
        </div>
    </div>

    <div id="case-notes-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div id="notes_text"style="display: inline">
            </div>
            <div id="notes-case-details" style="padding-top: 10px;"></div>                    
        </div>
    </div>
</body>
</html>
{% endblock %}
{% block scripts %}

<script>
    var form = JSON.parse('{{ form | escapejs | safe}}');
    var cases = [];
    var viewName =  '{{test_view_name}}' || 'index';
    var selectedPermutationIndex = 0;
    var newTestCase = {};
    
</script>
{% load staticfiles %}
<script src="{% static 'scripts/tango/tango.js' %}"></script>

{% endblock %}