#main-wrap > div {
    min-height: 450px;
}

#main-wrap {
    overflow: hidden;
}

#content-left {
    float: left;
    width: 30%;
}

#content-right {
    float: right;
    width: 70%;
}

.tango-button {
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100px;
}

