{% extends "tango-layout.html" %}
 
{% block content %}
<html> 
<head>
    {% load staticfiles %}
</head>
 
<body>
    <div class="uk-container">
        <div class="uk-grid">
            <div class="">
                <div class="uk-background uk-card uk-card-default uk-card-body uk-margin-top">
                    <button type="button" class="uk-button uk-button-primary uk-button-large uk-align-center uk-margin-auto-vertical" id="test-case-button">Run Next Case</button>
                    <div class="uk-grid uk-child-width-1-4@s uk-flex-center" uk-grid>
                        <button type="button" style="background-color:limegreen" class="uk-button uk-button-large uk-button-primary uk-margin-medium-left" id="pass-button">Pass</button>
                        <button type="button" class=" uk-button uk-button-large uk-button-danger uk-margin-left" id="fail-button" href="#case-fail-modal" uk-toggle>Fail</button>
                    </div>   
                </div>
                <div class="uk-card uk-card-default uk-card-body uk-margin-top">
                    <button type="button" class="uk-button uk-button-default uk-button-large" id="generate-cases-button">Generate New Cases</button>
                    <button type="button" class="uk-button uk-button-default uk-button-large" id="generate-manual-case-button" href="#case-custom-modal" uk-toggle>Generate Manually</button>
                    <div id="current-case" style="padding-top: 15px;"></div>
                    <div id="results-table" style="padding-top: 10px;"></div>
                </div>
            </div>
            <div class="">
                <div class="uk-card uk-card-default uk-card-body uk-margin-left uk-margin-top">
                    <h3>Testing View: {{test_view_name}}</h3>
                    <iframe id="tango-frame" src="http://{{ request.get_host }}/{{test_view_name}}" width="500" height="500" frameborder="0" uk-responsive></iframe>
                </div>
            </div>
        </div>
    </div>
    <div id="case-fail-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <h3>Notes</h3>
                <textarea id="case-fail-notes"class="uk-textarea" rows="5" placeholder="Please enter the results of the test..."></textarea>
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                <h5>Importance: </h5>
                <label><input class="uk-radio" type="radio" name="importanceRating" value ="1" checked> 1</label>
                <label><input class="uk-radio" type="radio" name="importanceRating" value ="2"> 2</label>
                <label><input class="uk-radio" type="radio" name="importanceRating" value ="3"> 3</label>
                <label><input class="uk-radio" type="radio" name="importanceRating" value ="4"> 4</label>
                <label><input class="uk-radio" type="radio" name="importanceRating" value ="5"> 5</label>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button id="update-fail-button" class="uk-button uk-button-primary uk-modal-close" type="button">Save</button>
            </div>                       
        </div>
    </div>

    <div id="case-details-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div style="display: inline">
            </div>
            <div id="selected-case-details" style="padding-top: 10px;"></div>  
                <!--Html generated in tango-testing.js-->
                <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
                    <h5>Importance: </h5>
                    <label><input class="uk-radio" type="radio" id="importanceRating1" name="importanceRating" value="1"> 1</label>
                    <label><input class="uk-radio" type="radio" id="importanceRating2" name="importanceRating" value="2"> 2</label>
                    <label><input class="uk-radio" type="radio" id="importanceRating3" name="importanceRating" value="3"> 3</label>
                    <label><input class="uk-radio" type="radio" id="importanceRating4" name="importanceRating" value="4"> 4</label>
                    <label><input class="uk-radio" type="radio" id="importanceRating5" name="importanceRating" value="5"> 5</label>
                </div>
            <div class="uk-modal-footer uk-text-right">
                <div id="selected-case-footer" style="padding-top: 10px;"></div>
                <!--Html generated in tango-testing.js-->
            </div> 
        </div>
    </div>

    <button type="button" class="uk-button uk-button-default" style="position: fixed; bottom: 4px; right: 10px;" id="edit-selectors-button">Selectors</button>


    <div id="case-custom-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div style="display: inline"></div>
            <div id="custom-case-details" style="padding-top: 10px;"></div>                    
            <div class="uk-modal-footer uk-text-right">
                <button style="float: left"class="uk-button uk-button-default uk-modal-close uk-button-primary" type="button" id="add-case-button">Add Case</button>
                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
            </div> 
        </div>
    </div>

    <div id="case-notes-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div id="notes-text"style="display: inline">
                <!--Html generated in tango-testing.js-->
            </div>   
            <textarea id="notes-textarea" class="uk-textarea" rows="5" placeholder="No notes to show"></textarea>
            <div id="notes-footer" class="uk-modal-footer uk-text-right">
                <!--Html generated in tango-testing.js-->
            </div>    
        </div>
            
    </div>
    <div id="edit-selectors-modal" class="uk-flex-top" uk-modal>
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
            <div id="selectors-table" style="display: inline">
                <!--Html generated in tango-testing.js-->
            </div>   
            <div class="uk-modal-footer uk-text-right">
                <div id="edit-selectors-footer" style="padding-top: 10px;"></div>
                <!--Html generated in tango-testing.js-->
            </div> 
        </div>
    </div>
</body>
</html>
{% endblock %}
{% block scripts %}

<script>
    var cases = [];
    var viewName = '{{test_view_name}}' || 'index';
    var fieldNames = JSON.parse('{{ field_names | escapejs | safe}}');
    var selectedPermutationIndex = 0;
    var newTestCase = {};
</script>
{% load staticfiles %}
<script src="{% static 'scripts/tango/tango-testing.js' %}"></script>
{% endblock %}