{% extends "tango-layout.html" %}
 
{% block content %}
<html> 
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/site.css' %}" />
</head>
 
<body>
    <div id="view-table" class="uk-grid-small uk-child-width-1-3@s uk-flex-center uk-text-center" uk-grid>
        <!--Html generated in tango-view-select.js-->
    </div>
</body>
</html>
{% endblock %}
{% block scripts %}

<script>

</script>
{% load staticfiles %}
<script src="{% static 'scripts/tango/tango-view-select.js' %}"></script>
<script>
    var views = JSON.parse('{{ views | escapejs | safe}}');
    var baseUrl = 'http://{{ request.get_host }}';
</script>
{% endblock %}