#main-wrap > div {
    min-height: 450px;
}

#main-wrap {
    overflow: hidden;
}

#content-left {
    float: left;
    width: 30%;
}

#content-right {
    float: right;
    width: 70%;
}

.tango-button {
    background-color: #1a1a1d;
    border: groove;
    border-radius: 30px;
    border-color: #C3073F;
    color: white;
    padding: 15px 32px;
    margin-top:30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.tango-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .tango-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .tango-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .tango-container {
        width: 1170px;
    }
}

body {
    background-color: #1a1a1d;
}

#tango-frame {
    border-radius: 10px;
    position: absolute;
    top: 10%;
    right: 5%;
    height: 100%;
    width: 60%;
}

#tango-testing-view {
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 5%;
    height: 100%;
    width: 40%;
}


.tango-nav {
    font-weight: 600;
    background-color: #4E4E50;
    overflow: hidden;
    border-radius: 15px;
}

    .tango-nav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .tango-nav a:hover {
            background-color: #F7EF6A;
            color: #465C8B;
        }

        .tango-nav a.active {
            background-color: #4CAF50;
        }


